---
import "~/styles/globals.css";
import "@fontsource-variable/inter";
import { site } from "~/config";

interface Props {
  title: string | undefined;
  description: string | undefined;
  url: string | undefined;
}

const { title, description, url } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title} - {site.name}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="keywords" content="Music Production,Fatality Studios" />
    <meta name="theme-color" content="#111111" />
    <meta name="color-scheme" content="dark" />
    <meta name="application-name" content={site.name} />
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <link rel="canonical" href={url} />

    <link rel="author" href={site.author.url} />
    <meta name="author" content={site.author.name} />
    <meta name="creator" content={site.author.name} />
    <meta name="publisher" content={site.author.name} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content={site.name} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content=`${site.url}/og.png` />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={site.name} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SameerJadav_" />
    <meta name="twitter:creator" content="@SameerJadav_" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content=`${site.url}/og.png` />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
