---
import "~/styles/globals.css";
import "@fontsource-variable/inter";
import { SITE } from "~/config";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{SITE.name} - Music Production Studios</title>
    <meta name="description" content={SITE.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="keywords" content="Music Production,Fatality Studios" />
    <meta name="theme-color" content="#111111" />
    <meta name="color-scheme" content="dark" />
    <meta name="application-name" content={SITE.name} />
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <link rel="manifest" href=`${SITE.url}/site.webmanifest` />
    <link rel="canonical" href={SITE.url} />

    <link rel="author" href={SITE.author.url} />
    <meta name="author" content={SITE.author.name} />
    <meta name="creator" content={SITE.author.name} />
    <meta name="publisher" content={SITE.author.name} />

    <meta property="og:title" content={SITE.name} />
    <meta property="og:description" content={SITE.description} />
    <meta property="og:url" content={SITE.url} />
    <meta property="og:site_name" content={SITE.name} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content=`${SITE.url}/og.png` />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={SITE.name} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SameerJadav_" />
    <meta name="twitter:creator" content="@SameerJadav_" />
    <meta name="twitter:title" content={SITE.name} />
    <meta name="twitter:description" content={SITE.description} />
    <meta name="twitter:image" content=`${SITE.url}/og.png` />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
